{% extends 'TobookBundle::base.html.twig' %}
{% block title %}{{ 'Demande de réinitialisation'|trans }}{% endblock %}

{% block ariane %}

    <div class="col-md-12 ariane">
        <div class="col-md-1 ariane-back">
            <h4>< Retour</h4>
        </div>
        <div class="col-md-11 ariane-content">
            <a>Accueil</a> >
            <a>Tobook</a> >
            <a>Login</a>
        </div>
    </div>

{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}


    <div class="col-md-6 col-md-offset-3 main-div">
        <img class="img-style-2" src="{{ asset('img/picto/logo-tobook.png') }}">

        <h3><strong>RÉCUPERATION MOT DE PASSE</strong></h3>
        <h4>__________</h4>
        <br></br>

        <div class="col-md-10 col-md-offset-1">
            <form action="{{ path('user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                <div>
                    {% if invalid_username is defined %}
                        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                    {% endif %}
                    <label for="username">{{ 'Adresse Email'|trans }}</label>
                    <input type="text" id="username" name="username" required="required" />
                </div>
                <div>
                    <input type="submit" value="{{ 'resetting.request.submit'|trans }}" />
                </div>
            </form>
        </div>
    </div>

{% trans_default_domain 'FOSUserBundle' %}



{% endblock %}
