{% extends 'TobookBundle::base.html.twig' %}

{% block ariane %}

    <div class="col-md-12 ariane">
        <div class="col-md-1 ariane-back">
            <h4>< Retour</h4>
        </div>
        <div class="col-md-11 ariane-content">
            <a>Accueil</a> >
            <a>Tobook</a> >
            <a>Login</a>
        </div>
    </div>

{% endblock %}
{% block body %}


    <div class="col-md-6 col-md-offset-3 main-div">
        <img class="img-style-2" src="{{ asset('img/picto/logo-tobook.png') }}">

        <h3><strong>RÉCUPERATION MOT DE PASSE</strong></h3>
        <h4>__________</h4>
        <br></br>

        <div class="col-md-10 col-md-offset-1">
        	{% trans_default_domain 'FOSUserBundle' %}

			{{ form_start(form, { 'action': path('user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
			    {{ form_widget(form) }}
			    <div>
			        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
			    </div>
			{{ form_end(form) }}
			</div>
		</div>


{% endblock %}


