{% extends 'TobookBundle::base.html.twig' %}
{% block body %}
	<div class="col-md-12 search-first-div">

		<img class="img-style-1" src="{{ asset('img/background/background-1.jpg') }}">

<<<<<<< HEAD
		<form method="post" action="{{ path('mapResult') }}" class="col-md-12 search-bar row" id="form">
			<div class="col-md-7">
				<input id="autocomplete" onfocus="initautocomplete()" class="input-style-5" type="text" placeholder="Entrez votre recherche">
=======
		<form method="GET" action="{{ path('tobook_search') }}" class="col-md-12 search-bar row">
			<div class="col-md-7">
				<input id="autocomplete" class="input-style-5" onfocus="initautocomplete()" type="text" value="{{ address }}" placeholder="Entrez votre recherche">
>>>>>>> 8bf9339a3107fcee28f636948dbb5b34afd785e1
			</div>
			<div class="col-md-4">
				<select class="input-style-5" name="category" id="category">
				<option value='1' {{ category == 1 ? 'selected="selected"' : '' }}>{{ "Hôtels"|trans }}</option>
                <option value='3' {{ category == 3 ? 'selected="selected"' : '' }}>{{ "Chambres d'hôtes"|trans }}</option>
                <option value='2' {{ category == 2 ? 'selected="selected"' : '' }}>{{ "Gîtes"|trans }}</option>
                <option value='5' {{ category == 5 ? 'selected="selected"' : '' }}>{{ "Restaurants"|trans }}</option>
                <option value='8' {{ category == 8 ? 'selected="selected"' : '' }}>{{ "Musées"|trans }}</option>
                <option value='6' {{ category == 6 ? 'selected="selected"' : '' }}>{{ "Restaurants gastronomique"|trans }}</option>
                <!--
                <option value='4' {{ category == 4 ? 'selected="selected"' : '' }}>{{ "Camping"|trans }}</option>
                <option value='7' {{ category == 7 ? 'selected="selected"' : '' }}>{{ "Parcs de loisirs"|trans }}</option>
                <option value='9' {{ category == 9 ? 'selected="selected"' : '' }}>{{ "Chateaux"|trans }}</option>
                <option value='10' {{ category == 10 ? 'selected="selected"' : '' }}>{{ "Hébergements"|trans }}</option>
                <option value='11' {{ category == 11 ? 'selected="selected"' : '' }}>{{ "Tables d'hotes"|trans }}</option>
            	-->
				</select>
			</div>
			<input name="address" type="hidden" value="{{ address }}"/>
			<input name="latitude" type="hidden" value="{{ latitude }}"/>
			<input name="longitude" type="hidden" value="{{ longitude }}"/>
			<div class="col-md-1">
				<input class="input-style-6 btn btn-success" type="submit" value="Rechercher">
			</div>
		</form>
		<div class="col-md-12 result-bar row">
			<h4>{{ 'Résultats pour'|trans }} <span id="resultatMap">{{ address }}</span></h4>
		</div>

		<div  id="map" style="width:100%; height:500px;" class="col-md-12 search-map row">
			{# VOTRE MAP ICI !!! #}
		</div>
	</div>

	<div class="col-md-12 filter-bar">
		<div class="col-md-2 col-md-offset-2">
			<div class="filter-div">
				<h4><strong>{{ 'Classer par'|trans }} :</strong></h4>
			</div>
		</div>
		<form id="tri" name="tri" methode="GET" action="{{ path('tobook_search') }}">
			<div class="col-md-2">
				<select id="tri-prix" name="prix" class="input-style-5">
					<option value="">{{ 'Prix'|trans }}</option>
					<option value="desc">{{ 'Les plus chers'|trans }}</option>
					<option value="asc">{{ 'Les plus économiques'|trans }}</option>
				</select>
			</div>
			<div class="col-md-2">
				<select id="tri-etoiles" name="etoiles" class="input-style-5">
					<option value="">{{ 'Étoile'|trans }}</option>
					<option value="asc">{{ 'Par ordre croissant'|trans }}</option>
					<option value="desc">{{ 'Par ordre décroissant'|trans }} </option>				
				</select>
			</div>
			<div class="col-md-2">
				<select id="tri-note" name="note" class="input-style-5">
					<option value="">{{ "Notes"|trans }}</option>
					<option value="desc">{{ "Les plus appréciés par l'utilisateur"|trans }}</option>				
					<option value="asc">{{ "Les moins appréciés par l'utilisateur"|trans }}</option>				
				</select>
			</div>
			<input name="latitude" type="hidden" value="{{ latitude }}"/>
			<input name="longitude" type="hidden" value="{{ longitude }}"/>
			<input name="address" type="hidden" value="{{ address }}"/>
			<input name="category" type="hidden" value="{{ category }}"/>
		</form>
		<script type="text/javascript">
		    $('#tri div select').change(function(){
		        //alert( $(this).attr('name') +' ' + $(this).find("option:selected").attr('value') );
		        //$("#tri").submit();
		        this.form.submit();
		    });
		</script>
	</div>

{% for resultat in resultats %}
	{% if loop.index is odd %}
	<div class="col-md-12 search-third-div border-1">
		<div class="col-md-5 img-div row">
			<img class="img-style-1" src="{{asset('img/background/hotel1.jpg') }}">
		</div>
		<div class="col-md-6 col-md-offset-1 text-div">
			<h3><strong>{{ resultat[0].profNom }}
		        {% for i in 1..5 %}
		            {% if i <= resultat[0].profEtoiles %}
		                <img src="{{ asset('img/picto/jauge_star_1.png') }}" title="Etoiles" />
		            {% else %}
		                <img src="{{ asset('img/picto/jauge_star_0.png') }}" title="Etoiles" />
		            {% endif %}
		        {% endfor %}
			</strong></h3>
			<h4>__________</h4>
			<p>{{ resultat[0].profDescriptif }}</p>
			<br></br>
			<div class="col-md-12 row">
				<div class="pull-left search-div-style" href="#">
					<img src="{{ asset('img/picto/jauge_coeur_1.png') }}">
					<img src="{{ asset('img/picto/jauge_coeur_1.png') }}">
					<img src="{{ asset('img/picto/jauge_coeur_0.png') }}">
					<img src="{{ asset('img/picto/jauge_coeur_0.png') }}">
					<img src="{{ asset('img/picto/jauge_coeur_0.png') }}">
				</div>
				<div class="pull-left search-div-style" href="#">
					{{ 'à partir de'|trans }}: <strong>{{ resultat[0].profPrixMini }} €</strong>
				</div>
				<a class="bouton-style-3 pull-right" href="{{ path('club-house', { 'profCode': resultat[0].profCode }) }}">
					<strong>{{ 'Plus de details'|trans }}</strong>
				</a>
			</div>
			<div class="col-md-12 row">
				<div class="pull-left search-div-style" href="#">
					{{ 'Evalué par'|trans }} <strong>25</strong> {{ 'personnes'|trans }}
				</div>
			</div>
		</div>
	</div>

	{% else %}

	<div class="col-md-12 search-third-div border-2">
		<div class="col-md-6 text-div">
			<h3><strong>{{ resultat[0].profNom }}
		        {% for i in 1..5 %}
		            {% if i <= resultat[0].profEtoiles %}
		                <img src="{{ asset('img/picto/jauge_star_1.png') }}" title="Etoiles" />
		            {% else %}
		                <img src="{{ asset('img/picto/jauge_star_0.png') }}" title="Etoiles" />
		            {% endif %}
		        {% endfor %}
			</strong></h3>
			<h4>__________</h4>
			<p>{{ resultat[0].profDescriptif }}</p>
			<br></br>
			<div class="col-md-12 row">
				<div class="pull-left search-div-style" href="#">
					<img src="{{ asset('img/picto/jauge_coeur_1.png') }}">
					<img src="{{ asset('img/picto/jauge_coeur_1.png') }}">
					<img src="{{ asset('img/picto/jauge_coeur_0.png') }}">
					<img src="{{ asset('img/picto/jauge_coeur_0.png') }}">
					<img src="{{ asset('img/picto/jauge_coeur_0.png') }}">
				</div>
				<div class="pull-left search-div-style" href="#">
					{{ 'à partir de'|trans }}: <strong>{{ resultat[0].profPrixMini }} €</strong>
				</div>
				<a class="bouton-style-3 pull-right" href="{{ path('club-house', { 'profCode': resultat[0].profCode }) }}">
					<strong>{{ 'Plus de details'|trans }}</strong>
				</a>
			</div>
			<div class="col-md-12 row">
				<div class="pull-left search-div-style" href="#">
					{{'Evalué par'|trans }} <strong>25</strong> {{ 'personnes'|trans }}
				</div>
			</div>
		</div>
		<div class="col-md-5 col-md-offset-1 img-div">
			<img class="img-style-1" src="{{asset('img/background/hotel1.jpg') }}">
		</div>
	</div>
{% endif %}
{% endfor %}
<div class="navigation">
    {{ knp_pagination_render(resultats) }}
</div>

{% endblock %}