{% extends '::base.html.twig' %}

{% block body %}

	<div class="col-md-12 search-first-div">

		<img class="img-style-1" src="{{ asset('img/background/background-1.jpg') }}">

		<form method="POST" action="{{ path('tobook_search') }}" class="col-md-12 search-bar row">
			<div class="col-md-7">
				<input id="autocomplete" class="input-style-5" onfocus="initautocomplete()" type="text" placeholder="Entrez votre recherche">
			</div>
			<div class="col-md-4">
				<select class="input-style-5" name="category">
					<option value='3' >Chambres d'hotes</option>
					<option value='2' >Gîtes</option>
					<option value='1' selected>Hôtels</option>
					<option value='8' >Musés</option>
					<option value='5' >Restaurants</option>
				</select>
			</div>
			<div class="col-md-1">
				<input class="input-style-6 btn btn-success" type="submit" value="Rechecrher">
			</div>
		</form>
		<script type="text/javascript">
		$(document).ready(function() {
			initMap();
			$('#resultatMap').text( address );
		});
		</script>
		<div class="col-md-12 result-bar row">
			<h4>Résultats pour <span id="resultatMap">Vendome</span></h4>
		</div>

		<div  id="map" style="width:100%; height:500px;" class="col-md-12 search-map row">
			{# VOTRE MAP ICI !!! #}
		</div>
	</div>

	<div class="col-md-12 filter-bar">
		<div class="col-md-2 col-md-offset-2">
			<div class="filter-div">
				<h4><strong>Classer par :</strong></h4>
			</div>
		</div>
		<form id="tri" name="tri" methode="get" action="{{ path('tobook_search') }}">
			<div class="col-md-2">
				<select id="tri-prix" name="prix" class="input-style-5">
					<option value="">Prix</option>
					<option value="desc">Les plus chers</option>
					<option value="asc">Les plus économiques</option>
				</select>
			</div>
			<div class="col-md-2">
				<select id="tri-etoiles" name="etoiles" class="input-style-5">
					<option value="">Etoile</option>
					<option value="desc">Par ordre croissant</option>
					<option value="asc">Par ordre décroissant </option>				
				</select>
			</div>
			<div class="col-md-2">
				<select id="tri-note" name="note" class="input-style-5">
					<option value="">Notes</option>
					<option value="desc">Les plus appréciés par l'utilisateur</option>				
					<option value="asc">Les moins appréciés par l'utilisateur</option>				
				</select>
			</div>
		</form>
		<script type="text/javascript">
		    $('#tri div select').change(function(){
		        alert( $(this).attr('name') +' ' + $(this).find("option:selected").attr('value') );
		        //$("#tri").submit();
		        this.form.submit();
		    });
		</script>
	</div>

{% for resultat in resultats %}
	{% if loop.index is odd %}
	<div class="col-md-12 search-third-div border-1">
		<div class="col-md-5 img-div row">
			<img class="img-style-1" src="{{asset('img/background/hotel1.jpg') }}">
		</div>
		<div class="col-md-6 col-md-offset-1 text-div">
			<h3><strong>{{ resultat.profNom }}
				<img src="{{ asset('img/picto/jauge_star_1.png') }}">
				<img src="{{ asset('img/picto/jauge_star_1.png') }}">
				<img src="{{ asset('img/picto/jauge_star_0.png') }}">
				<img src="{{ asset('img/picto/jauge_star_0.png') }}">
				<img src="{{ asset('img/picto/jauge_star_0.png') }}">
			</strong></h3>
			<h4>__________</h4>
			<p>{{ resultat.profDescriptif }}</p>
			<br></br>
			<div class="col-md-12 row">
				<div class="pull-left search-div-style" href="#">
					<img src="{{ asset('img/picto/jauge_coeur_1.png') }}">
					<img src="{{ asset('img/picto/jauge_coeur_1.png') }}">
					<img src="{{ asset('img/picto/jauge_coeur_0.png') }}">
					<img src="{{ asset('img/picto/jauge_coeur_0.png') }}">
					<img src="{{ asset('img/picto/jauge_coeur_0.png') }}">
				</div>
				<div class="pull-left search-div-style" href="#">
					à partir de: <strong>{{ resultat.profPrixMini }} €</strong>
				</div>
				<a class="bouton-style-3 pull-right" href="#">
					<strong>Plus de details</strong>
				</a>
			</div>
			<div class="col-md-12 row">
				<div class="pull-left search-div-style" href="#">
					Evalué par <strong>25</strong> personnes
				</div>
			</div>
		</div>
	</div>

	{% else %}

	<div class="col-md-12 search-third-div border-2">
		<div class="col-md-6 text-div">
			<h3><strong>{{ resultat.profNom }}
			<img src="{{ asset('img/picto/jauge_star_1.png') }}">
				<img src="{{ asset('img/picto/jauge_star_1.png') }}">
				<img src="{{ asset('img/picto/jauge_star_0.png') }}">
				<img src="{{ asset('img/picto/jauge_star_0.png') }}">
				<img src="{{ asset('img/picto/jauge_star_0.png') }}">
			</strong></h3>
			<h4>__________</h4>
			<p>{{ resultat.profDescriptif }}</p>
			<br></br>
			<div class="col-md-12 row">
				<div class="pull-left search-div-style" href="#">
					<img src="{{ asset('img/picto/jauge_coeur_1.png') }}">
					<img src="{{ asset('img/picto/jauge_coeur_1.png') }}">
					<img src="{{ asset('img/picto/jauge_coeur_0.png') }}">
					<img src="{{ asset('img/picto/jauge_coeur_0.png') }}">
					<img src="{{ asset('img/picto/jauge_coeur_0.png') }}">
				</div>
				<div class="pull-left search-div-style" href="#">
					à partir de: <strong>{{ resultat.profPrixMini }} €</strong>
				</div>
				<a class="bouton-style-3 pull-right" href="#">
					<strong>Plus de details</strong>
				</a>
			</div>
			<div class="col-md-12 row">
				<div class="pull-left search-div-style" href="#">
					Evalué par <strong>25</strong> personnes
				</div>
			</div>
		</div>
		<div class="col-md-5 col-md-offset-1 img-div">
			<img class="img-style-1" src="{{asset('img/background/hotel1.jpg') }}">
		</div>
	</div>
{% endif %}
{% endfor %}

{% endblock %}