<header id="header">

    <h1><a href="{{ path('tobook_homepage') }}">Tobook<span>.club</span></a></h1>

    <span>
        <ul class="nav navbar-nav navbar-left"> 
            <li class="dropdown"> 
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'Langue'|trans }}</a> 
                <ul class="dropdown-menu" role="menu"> 
                    <li><a tabindex="-1" href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'en'})) }}">English</a></li> 
                    <li><a tabindex="-1" href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'fr'})) }}">Français</a></li> 
                    <li><a tabindex="-1" href="{{ path(app.request.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'de'})) }}">Deutsch</a></li> 
                </ul>
            </li>
            <li class="dropdown"> 
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'Devise'|trans }}</a> 
                <ul class="dropdown-menu" role="menu"> 
                    <li><a tabindex="-1" href="#">EUR</a></li> 
                    <li><a tabindex="-1" href="#">GBP</a></li> 
                    <li><a tabindex="-1" href="#">USD</a></li> 
                </ul>
            </li>
        </ul>
    </span>

    <a href="https://www.facebook.com/Roomservyou-454428541427992/?fref=nf" target="_blank">
        <img src="{{ asset('img/picto/icon-facebook.png') }}" alt="Logo Facebook" title="Suivez-nous sur Facebook" class="vertialimid" />
    </a>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <span>{{ 'Bienvenu'|trans }} {{ app.user.userPrenom }} {{ app.user.userNom }}</span>
    {% else %}
        <a href="{{ path('user_register') }}"><span>{{ "S'INSCRIRE"|trans }}</span></a>
        <a href="{{ path('user_login') }}"><span>{{ 'SE CONNECTER'|trans }}</span></a>
    {% endif %}           
    
    <a href="#menu"><span>{{ 'Menu'|trans }}</span></a>

</header>

<!-- Menu -->
<nav id="menu">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <ul class="links">
            <li><a href="{{ path('tobook_search') }}">{{ 'Nouvelle Recherche'|trans }}</a></li>
            <li><a href='{{ path('profil_edit', { 'id': app.user.id }) }}'>{{ 'Ma page'|trans }}</a></li>
            {# 
            <li><a href='#'>{{ 'Mes Favoris'|trans }}</a></li>
            <li><a href='#'>{{ 'Mes paramètres'|trans }}</a></li> #}
            {% if app.user.userProf == 1 %}
                <li><a href="{{ path('wcs_emailing_homepage') }}">{{ 'Emailing'|trans }}</a></li>
            {% endif %}
        </ul>
        <ul class="actions vertical" style="list-style:none;">
            <li><a href="{{ path('fos_user_security_logout') }}" class="btn btnsansrien button fit"><span>{{ 'SE DECONNECTER'|trans }}</span></a></li>
        </ul>
    {% else %}
        <ul class="links">
            <li><a href="{{ path('tobook_search') }}">{{ 'Nouvelle Recherche'|trans }}</a></li>
            {# <li><a href='#'>{{ 'Ma page'|trans }}</a></li>
            <li><a href='#'>{{ 'Mes Favoris'|trans }}</a></li>
            <li><a href='#'>{{ 'Mes paramètres'|trans }}</a></li> #}
        </ul>
        <ul class="actions vertical" style="list-style:none;">
            <li><a href="{{ path ('user_register') }}" class="btn btnsansrien button fit special"><span>{{ "S'INSCRIRE"|trans }}</span></a></li>
            <li><a href="{{ path('user_login') }}" class="btn btnsansrien button fit"><span>{{ "SE CONNECTER"|trans }}</span></a></li>
        </ul>
    {% endif %}
</nav>