<header id="header">

    <h1><a href="{{ path('tobook_homepage') }}">Tobook<span>.club</span></a></h1>

    <span>
        <form>
                <button class="langdevise">Langue &nbsp;</button>
                <select name="langue">
                    <option>fr</option>
                    <option>en</option>
                    <option>de</option>
                </select>
                <span class="barre">&nbsp; &nbsp; | &nbsp; &nbsp;</span>
                <button class="langdevise">Devise &nbsp;</button>
                <select name="langue">
                <option>EUR</option>
                <option>GBP</option>
                <option>USD</option>
                </select>
            </form>
    </span>

    <a href="https://www.facebook.com/Roomservyou-454428541427992/?fref=nf" target="_blank">
        <img src="{{ asset('img/picto/icon-facebook.png') }}" alt="Logo Facebook" title="Suivez-nous sur Facebook" class="vertialimid" />
    </a>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <span>Bienvenue {{ app.user.userPrenom }} {{ app.user.userNom }}</span>
    {% else %}
        <a href="{{ path('user_register') }}"><span>{{ 'S\'INSCRIRE'|trans }}</span></a>
        <a href="{{ path('user_login') }}"><span>{{ 'SE CONNECTER'|trans }}</span></a>
    {% endif %}           
    
    <a href="#menu"><span>Menu</span></a>

</header>

<!-- Menu -->
<nav id="menu">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <ul class="links">
            <li><a href="#">Nouvelle Recherche</a></li>
            <li><a href='#'>Ma page</a></li>
            <li><a href='#'>Mes Favoris</a></li>
            <li><a href='#'>Mes paramètres</a></li>
        </ul>
        <ul class="actions vertical">
            <li><a href="{{ path('fos_user_security_logout') }}" class="btn btnsansrien button fit"><span>SE DECONNECTER</span></a></li>
        </ul>
    {% else %}
        <ul class="links">
            <li><a href="#">Nouvelle Recherche</a></li>
            <li><a href='#'>Ma page</a></li>
            <li><a href='#'>Mes Favoris</a></li>
            <li><a href='#'>Mes paramètres</a></li>
        </ul>
        <ul class="actions vertical">
            <li><a href="{{ path ('user_register') }}" class="btn btnsansrien button fit special"><span>S'INSCRIRE</span></a></li>
            <li><a href="{{ path('user_login') }}" class="btn btnsansrien button fit"><span>SE CONNECTER</span></a></li>
        </ul>
    {% endif %}
</nav>