{% extends 'TobookBundle::base.html.twig' %}
{% block title %}{{ 'SE CONNECTER'|trans }}{% endblock %}
{% block ariane %}

	<div class="col-md-12 ariane">
		<div class="col-md-1 ariane-back">
			<h4>< Retour</h4>
		</div>
		<div class="col-md-11 ariane-content">
			<a>Accueil</a> >
			<a>Tobook</a> >
			<a>Login</a>
		</div>
	</div>

{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


	<div class="col-md-6 col-md-offset-3 main-div">
		<img class="img-style-2" src="{{ asset('img/picto/logo-tobook.png') }}">

		<h3><strong>JE ME CONNECTE</strong></h3>
		<h4>__________</h4>
		<br></br>

		<div class="col-md-10 col-md-offset-1">
			<form action="{{ path("fos_user_security_check") }}" method="post">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

				<label for="username" class="left">{{ 'Email'|trans }}</label>
				<input class="input-style-3" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

				<label class="left" for="password">{{ 'security.login.password'|trans }}</label>
				<input class="input-style-3" type="password" id="password" name="_password" required="required" />

				<input type="reset" class="input-style-4 btn btn-success" value="Annuler">
				<input type="submit" class="input-style-4 btn btn-success" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

			</form>
		</div>

		<div class="row">
			<a href="{{ path('user_resetting_request') }}"><input type="submit" class="input-style-4 btn btn-success" value="Mot de passe oublié"></a>
		</div>

		<h3><strong>JE NE SUIS PAS ENCORE INSCRIT</strong>
		<h4>__________</h4></h3>
		<a role="button" class="input-style-4 btn btn-success" href="{{ path('user_register') }}">S'INSCRIRE</a>
	</div>

{% endblock %}