{% extends 'base.html.twig' %}

{% block body %}
    <h1>User list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Userprof</th>
                <th>Userprenom</th>
                <th>Usernom</th>
                <th>Userlangue</th>
                <th>Useradd1</th>
                <th>Useradd2</th>
                <th>Usercp</th>
                <th>Userville</th>
                <th>Usertel</th>
                <th>Usermob</th>
                <th>Userdtnais</th>
                <th>Userdescriptif</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('profil_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{% if user.userProf %}Yes{% else %}No{% endif %}</td>
                <td>{{ user.userPrenom }}</td>
                <td>{{ user.userNom }}</td>
                <td>{{ user.userLangue }}</td>
                <td>{{ user.userAdd1 }}</td>
                <td>{{ user.userAdd2 }}</td>
                <td>{{ user.userCp }}</td>
                <td>{{ user.userVille }}</td>
                <td>{{ user.userTel }}</td>
                <td>{{ user.userMob }}</td>
                <td>{% if user.userDtNais %}{{ user.userDtNais|date('Y-m-d') }}{% endif %}</td>
                <td>{{ user.userDescriptif }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('profil_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('profil_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('profil_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
