{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Userprof</th>
                <td>{% if user.userProf %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Userprenom</th>
                <td>{{ user.userPrenom }}</td>
            </tr>
            <tr>
                <th>Usernom</th>
                <td>{{ user.userNom }}</td>
            </tr>
            <tr>
                <th>Userlangue</th>
                <td>{{ user.userLangue }}</td>
            </tr>
            <tr>
                <th>Useradd1</th>
                <td>{{ user.userAdd1 }}</td>
            </tr>
            <tr>
                <th>Useradd2</th>
                <td>{{ user.userAdd2 }}</td>
            </tr>
            <tr>
                <th>Usercp</th>
                <td>{{ user.userCp }}</td>
            </tr>
            <tr>
                <th>Userville</th>
                <td>{{ user.userVille }}</td>
            </tr>
            <tr>
                <th>Usertel</th>
                <td>{{ user.userTel }}</td>
            </tr>
            <tr>
                <th>Usermob</th>
                <td>{{ user.userMob }}</td>
            </tr>
            <tr>
                <th>Userdtnais</th>
                <td>{% if user.userDtNais %}{{ user.userDtNais|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Userdescriptif</th>
                <td>{{ user.userDescriptif }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('profil_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('profil_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
