{% extends 'TobookBundle::base.html.twig' %}

{% block body %}

	<h1>{{ "Import d'un nouveau fichier csv"|trans }}</h1>

	{# permet de récupérer le profcode de l'url courante afin de le passer en tant que paramètre pour la soumission du formulaire #}
	{% set indexProfCodeURL = ((path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|split('/'))|length)-1 %}
	{% set profCodeURL = (path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')))|split('/')[indexProfCodeURL] %}


	{{ form_start(form, {'method': 'post', 'action': path('wcs_emailing_import', { 'profCode': profCodeURL })}) }}
    	{{ form_row(form.emaiCSVFile) }}
		<div>
	        <input type="submit" value="Upload" class="input-style-4 btn btn-success"/>
	    </div>
	{{ form_end(form) }}

{#     <form method="POST" action="{{ path('wcs_emailing_import') }}">
		Fichier: <input type="file" name="fichier"><br>
		<input type="submit" value="Submit">
    </form> #}

{% endblock %}