{% extends 'TobookBundle::base.html.twig' %}

{% block body %}

{% for etablissement in liste_etablissements %}

	<div>
		{{ etablissement.usprProfId.profNom }}</br>
		<a href="{{ path('wcs_emailing_import', { 'profCode': etablissement.usprProfId.profCode }) }}">{{ "Ajouter des clients (fichier csv)"|trans }}</a>
	</div>

    <div class="container">
        <table id="clientTable" class="display" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>{{ "Email"|trans }}</th>
                    <th>{{ "Nom"|trans }}</th>
                    <th>{{ "Prénom"|trans }}</th>
                    <th>{{ "Adresse"|trans }}</th>
                    <th>{{ "Ville"|trans }}</th>
                    <th>{{ "Pays"|trans }}</th>
                    <th>{{ "Genre"|trans }}</th>
                    <th>{{ "CSP"|trans }}</th>
                </tr>
            </thead>
            <tbody>    
                {% for key, client in client if client.emaiProfId == etablissement.usprProfId %}
                    <tr id="{{ key }}" data-info="{{ client.emaiEmail }}">
                        <td>{{ client.emaiEmail }}</td> <!--email-->
                        <td>{{ client.emaiNom }}</td> <!--nom-->
                        <td>{{ client.emaiPrenom }}</td> <!--prénom-->
                        <td>{{ client.emaiAdresse }}</td> <!--adresse-->
                        <td>{{ client.emaiVille }}</td> <!--ville-->
                        <td>{{ client.emaiPays }}</td> <!--pays-->
                        <td>{{ client.emaiGenre }}</td> <!--genre-->
                        <td>{{ client.emaiCSP }}</td> <!--csp-->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input id="BNom" type="button" value="{{ "Valider"|trans }}" />
    </div> <!--container-->
	



{% endfor %}

<script>
$(document).ready(function() {
    
    // stylisation du datatable avec selection multiple sans pagination et avec scroll
    $('#clientTable').DataTable( {
        select: {
            style: 'multi'
        },
        scrollY:        "200px",
        scrollCollapse: true,
        paging:         false,
    } );

    // fonction permettant de taguer à selected la class du tr à chaque clic
    // var arraymsg = [];
    // $('tr').click(function() {
    //     idtr = this.id;
    //     var datainfo = $('#'+idtr).data('info');
    //     if ($(this).hasClass('selected')) {
    //         $(this).removeClass('selected');
    //         arraymsg.pop(datainfo);
    //     }else {
    //         $(this).addClass('selected');
    //         arraymsg.push(datainfo);
    //     }

    // });
    var arraymsg = [];
    var lastSelected;
    $('tr').click(function(event) {
        
        idtr = this.id;
        var datainfo = $('#'+idtr).data('info');
        var tableRow = $(this).closest('tr').prevAll('tr').length + 1;

        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
            arraymsg.pop(datainfo);
        } else if (event.shiftKey) {
            var table = $('#clientTable');
            var start = Math.min(tableRow, lastSelected);
            var end = Math.max(tableRow, lastSelected);
            for (var i = start+1; i < end; i++) {
                table.find('tr').eq(i).addClass('selected');
                // var datainfoloop = $(table.find('tr').eq(i)..data('info'));
                // arraymsg.push(datainfoloop); 
            } 
        } else {
            $(this).addClass('selected');
            arraymsg.push(datainfo);
            lastSelected = $(this).closest('tr').prevAll('tr').length + 1;       
        }

        
        // if (event.shiftKey) { 
            // var table = $('tr');
            // var start = Math.min(tableRow, lastSelected);
            // var end = Math.max(tableRow, lastSelected);
            // alert(start);
        //     table.find('tr:gt('+(start-1)+'):lt('+(end)+')').addClass('selected');
        // }
        // else {

            // lastSelected = $(this).closest("tr").prevAll("tr").length + 1;
        // }
    });

    // fonction permettant d'envoyer la sélection des lignes vers l'email
    $('#BNom').click(function() {
        alert(arraymsg.join("\n"));
    });

} );

</script>


{% endblock %}