{% extends 'TobookBundle::base.html.twig' %}
{% block title %}{{ "S'INSCRIRE"|trans }}{% endblock %}
{% block ariane %}

	<div class="col-md-12 ariane">
		<div class="col-md-1 ariane-back">
			<h4>< Retour</h4>
		</div>
		<div class="col-md-11 ariane-content">
			<a>Accueil</a> >
			<a>Tobook</a> >
			<a>Login</a>
		</div>
	</div>

{% endblock %}

{% block body %}

	<div class="col-md-6 col-md-offset-3 main-div-register">
		<img class="img-style-2" src="{{ asset('img/picto/logo-tobook.png') }}">

		<h3><strong>JE M'INSCRIS</strong></h3>
		<h4>__________</h4>
		<br></br>

		<div class="col-md-10 col-md-offset-1">
			{% trans_default_domain 'FOSUserBundle' %}
			{{ form_start(form, {'method': 'post', 'action': path('user_register')}) }}
				{{ form_label(form.userProf, 'Je suis ?'|trans, {'label_attr': {'class': 'left'}}) }}			    
			    {{ form_widget(form.userProf, {'attr': {'class': 'input-style-3'}}) }}			
				{{ form_label(form.userNom, 'Nom'|trans, {'label_attr': {'class': 'left'}}) }}
			    {{ form_widget(form.userNom, {'attr': {'class': 'input-style-3'}}) }}
			    {{ form_label(form.userPrenom, 'Prénom'|trans, {'label_attr': {'class': 'left'}}) }}
			    {{ form_widget(form.userPrenom, {'attr': {'class': 'input-style-3'}}) }}
				{{ form_label(form.email, form.email, {'label_attr': {'class': 'left'}}) }}
			    {{ form_widget(form.email, {'attr': {'class': 'input-style-3'}}) }}			    
				{{ form_label(form.plainPassword.first, form.plainPassword.first, {'label_attr': {'class': 'left'}}) }}
			    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'input-style-3'}}) }}	
			    {{ form_label(form.plainPassword.second, form.plainPassword.second, {'label_attr': {'class': 'left'}}) }}
			    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'input-style-3'}}) }}			    
			    <div>
			        <input type="reset" value="Annuler" class="input-style-4 btn btn-success"/>
			        <input type="submit" value="{{ 'registration.submit'|trans }}" class="input-style-4 btn btn-success"/>
			    </div>
			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}